<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @time_log.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @time_log.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @time_log.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @time_log.date %>
</p>

<p>
  <strong>Rounded minutes:</strong>
  <%= @time_log.rounded_minutes %>
</p>

<p>
  <strong>Actual seconds:</strong>
  <%= @time_log.actual_seconds %>
</p>

<p>
  <strong>Timer enabled:</strong>
  <%= @time_log.timer_enabled %>
</p>

<%= link_to 'Edit', edit_time_log_path(@time_log) %> |
<%= link_to 'Back', time_logs_path %>
